<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @idea.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @idea.body %>
</p>

<p>
<% @idea.tag_list.each do |tag| %>
  <span class="label label-primary"><%= tag %></span>
<% end %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
